* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

em, i {
  font-style: normal
}

ol, ul, li {
  list-style: none
}

img {
  border: 0;
  vertical-align: middle
}

button {
  cursor: pointer
}

a {
  color: #ff662f;
  text-decoration: none
}

a:active {
  outline: 0;
  blr: expression(this.onFocus=this.blur());
}

a:hover {
  text-decoration: underline;
}

button, input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

input {
  border: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
  overflow: hidden;
}

.clearFix {
  *zoom: 1;
}

.clearFix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?u61dkw');
  src: url('../fonts/icomoon.eot?u61dkw#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?u61dkw') format('truetype'),
  url('../fonts/icomoon.woff?u61dkw') format('woff'),
  url('../fonts/icomoon.svg?u61dkw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconFont {
  font-family: "icomoon";
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: rgba(0, 0, 0, .3);
}
